.createProduct-wrap{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
}

.createProd-form{
    width: 400px;
    text-align: center;
}
.createProduct-btn{
    margin-left: 20px;
}