.createProduct-wrap{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
}

.createProd-form{
    width: 400px;
    text-align: center;
}
.createProduct-btn{
    margin-left: 20px;
}
.titleName-props {
    font-size: 15px;
}
.toggle-status{
    display: flex;
    justify-content: center;
}
.create-btn{
    margin: 12;
}
.properties-title{
    font-size: 20px;
    font-weight: bold;
}