
.inputContent{
    width: 400px;
    margin: 0 auto;
}
.titleName-discount{
    text-align: center;
}
.CheckWrapper{
    display: flex;
}
.TitleCheck{
    width: 20%;
}
.checkboxDiscount{
    width: 20%;
}
.createDiscount-btn{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.tableSale-content{
    max-width: 900px;
    overflow: auto;
    margin: 0 auto;
    padding-bottom: 10px;
}
.discount-icon{
    margin-left: 5px;
}
.discountBtn_wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchDiscount-wrapper{
    display: flex;
    justify-content: center;
}
.choosenProduct {
    width: 600px;
}
.choosenProduct-table{
    display: flex;
    justify-content: center;
    margin: 20px 0 150px 0;
}
.choosenProduct-table-wrapp{
    text-align: center;
}