body{
    font-family: 'Roboto', sans-serif;
    color: #5c5a5e;
    font-size: 17px;
    margin: 0;
}
li{
    list-style: none;
}
nav {
    display: inherit;
}
a {
    text-decoration: none;
    color: #5c5a5e;
}
